/* CSS para admin.jsx, CreateProduct.jsx y EditProduct.jsx*/ 

.adm {
    background-color: black;
    padding: 0px 20px;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100vh; */
}

.adm-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(208, 0, 110, 0.5);
    border-radius: 180px;
}

.adm-titulo {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 15px;
    font-family: "Jost", sans-serif;
    letter-spacing: 4px;
    color: #fff;
    /*text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #d0006e,
        0 0 82px #d0006e,
        0 0 92px #d0006e,
        0 0 102px #d0006e,
        0 0 151px #d0006e;*/
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #d0006e,
        0 0 82px #d0006e,
        0 0 92px #d0006e,
        0 0 102px #d0006e,
        0 0 151px #d0006e;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }
}

.adm-add {
    color: white;
    width: 500px;
    max-width: 500px;
}

.adm-add_title {
    font-family: "Jost", sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 15px;
}

.adm-form_add {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    height: 500px;
    width: 500px;
}

.form-label {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    width: 100%;
    font-family: "Jost", sans-serif;
    font-weight: 20px;
}

.boton-form {
    font-family: "Jost", sans-serif;
    font-weight: 45px;
    color: white;
    border: 2px #d0006f9f solid;
    background-color: rgba(17, 25, 40, 0.25);
}

.footer-form {
    background-color: transparent;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.edit-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(208, 0, 110, 0.5);
    border-radius: 180px;
}

.edit-prod button {
    margin: 7.5px 0px;
}

.adm-ed {
    color: white;
    width: 500px;
    max-width: 500px;
}

.adm-form_ed {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    height: 500px;
    width: 500px;
}

.prod-card {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    justify-content: space-between;
}

.card_admin {
    width: 100%;
    height: 100%;
}

.producto {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    font-size: 15px;
    border: 1px solid rgba(208, 0, 110);
    padding: 10px 20px;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    padding: 20px;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    text-align: left;
}

.desc-prod-adm {
    color: #fff;
    font-family: "Jost", sans-serif;
    padding: 5px;
    font-size: 15px;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
}

.img-prod-adm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-prod-card-adm {
    max-width: 150px;
    height: auto;
}

