.mb-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-color: black;
  max-height: 500px;
  width: 250px;
  position: sticky !important;
  top: 65px;
  margin-left: 15px;
  border-radius: 12px;
  border: 1px solid rgba(208, 0, 110);
  padding: 10px !important;
  filter: drop-shadow(2px 2px 4px #d0006e);
}

.offcanvas {
  background-color: #d0006fd7 !important;
  border-color: #d0006fd7 !important;
}

.offcanvas-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-color: #d0006fd7;
  border-radius: 12px;
  width: 100%;
  display: grid !important;
  grid-template-columns: 80% 20% !important;
  justify-content: center !important;
}

.offcanvas-title {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  letter-spacing: 2px;
}

.offcanvas-body {
  background-color: black;
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  text-align: center;
}

.d-flex {
  align-items: baseline !important;
}

.boton {
  border-color: #d0006fd7 !important;
}

.navbar-toggler {
  background-color: #d0006e !important;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #d0006e !important;
  --bs-dropdown-link-hover-bg: #fa97cc !important;
  --bs-dropdown-link-hover-color: white !important;
}

.itemFiltro {
  color: white !important;
}

.container-fluid {
  position: relative;
  top: 8px;
}


@media only screen and (max-width: 768px) {
  .mb-3 {
    max-height: 500px;
    width: 90%;
    position: sticky !important;
    top: 65px;
    padding-right: 10px;
  }
  
}
